<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="OpenInBrowser" value="false"/>
        <add key="BrowserPath" value=""/>
        <add key="SpotifyClientId" value=""/>
        <add key="SpotifyClientSecret" value=""/>
    </appSettings>
</configuration>